

<h2>Категории</h2>
<div class="panel-group category-products" id="accordian">
    
    @foreach (var item in ViewBag.cats)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">@item.CategoryName</a></h4>
            </div>
        </div>
    }
</div>
